ol, ul {
    list-style: none;
    color: blue;
}

body {
    background-color: lightgoldenrodyellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
    color: rgb(143, 209, 231);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
}

form {
    background-color: white;
    width: 25%;
    height: 200px;
    border: solid 4px black;
}

img {
    position: absolute;
    top: 0;
    right: 0;
}